@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Brand Color
$primary-color: #B20000;
$primary-light-color: #fff5f5;
$secondary-color: #00B2B2;
$secondary-light-color: #ecfafa;

// Text Color
$base-text-color : #0e0e0e;
$base-light-color: #ffffff;
$muted-color : #A7A7A7;

// Grey Color
$base-light-grey : #f8f8f8;
$base-dark-color: #0e0e0e;

// Border Color
$border-color: #E3E3E3;

// Font Family
$base-font-family: "Poppins", sans-serif;

// Font Size
$base-font-size: 16px;
$cta-text: 14px;
$form-label-text: 16px;
$nav-text: 14px;
$heading-1: 40px;
$heading-2: 32px;
$heading-3: 28px;
$heading-4: 24px;
$heading-5: 20px;
$heading-6: 18px;

//For Mobile
$heading-5-sm: 16px;
$heading-6-sm: 16px;

$cta-text-xs: 14px;

// Line Height
$base-line-height: 1.4;

//Radius
$base-border-radius: 16px;

