@use "./../variables/variables" as *;

/* Custom cursor */
.cursor {
    width: 12px;
    height: 12px;
    background: $primary-color;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transition:
        transform 0.15s ease,
        background 0.2s;
    transform: translate(-50%, -50%);
}
.cursor-ring {
    width: 36px;
    height: 36px;
    border: 1px solid $primary-light-color;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition:
        transform 0.35s ease,
        width 0.2s,
        height 0.2s;
}
