@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?16yfn6');
  src:  url('/fonts/icomoon.eot?16yfn6#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?16yfn6') format('truetype'),
    url('/fonts/icomoon.woff?16yfn6') format('woff'),
    url('/fonts/icomoon.svg?16yfn6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ss-"], [class*=" ss-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ss-email:before {
  content: "\e925";
}
.ss-phone:before {
  content: "\e927";
}
.ss-map-pin:before {
  content: "\e926";
}
.ss-gun:before {
  content: "\e924";
}
.ss-excellence:before {
  content: "\e923";
}
.ss-reliability:before {
  content: "\e922";
}
.ss-Integrity:before {
  content: "\e921";
}
.ss-emergency-equipment:before {
  content: "\e91e";
}
.ss-factory-appearance:before {
  content: "\e920";
}
.ss-suspension:before {
  content: "\e91d";
}
.ss-glass-protection:before {
  content: "\e919";
}
.ss-360:before {
  content: "\e91a";
}
.ss-oem:before {
  content: "\e91b";
}
.ss-reliable:before {
  content: "\e91c";
}
.ss-tyre:before {
  content: "\e91f";
}
.ss-contact:before {
  content: "\e918";
}
.ss-menu:before {
  content: "\e917";
}
.ss-trusted:before {
  content: "\e916";
}
.ss-document-checklist:before {
  content: "\e913";
}
.ss-project-delivered:before {
  content: "\e914";
}
.ss-support:before {
  content: "\e915";
}
.ss-curb-weight:before {
  content: "\e900";
}
.ss-tank:before {
  content: "\e901";
}
.ss-angle-double-down:before {
  content: "\e902";
}
.ss-4x4:before {
  content: "\e903";
}
.ss-capacity:before {
  content: "\e904";
}
.ss-car-door:before {
  content: "\e905";
}
.ss-car-weight:before {
  content: "\e906";
}
.ss-crew:before {
  content: "\e907";
}
.ss-engine:before {
  content: "\e908";
}
.ss-fuel:before {
  content: "\e909";
}
.ss-height:before {
  content: "\e90a";
}
.ss-length:before {
  content: "\e90b";
}
.ss-electrical-system:before {
  content: "\e90c";
}
.ss-model:before {
  content: "\e90d";
}
.ss-protected:before {
  content: "\e90e";
}
.ss-transmission:before {
  content: "\e90f";
}
.ss-width:before {
  content: "\e910";
}
.ss-angle-down:before {
  content: "\e911";
}
.ss-clear:before {
  content: "\e912";
}
.ss-facebook:before {
  content: "\ea90";
}
.ss-instagram:before {
  content: "\ea92";
}
.ss-linkedin:before {
  content: "\eaca";
}
