@use "./../variables/variables" as *;

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;

    &-left {
        background-color: $base-light-grey;
        padding: 48px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        // border-radius: $base-border-radius;
    }

    &-form-heading {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    &-right {
    }

    &-details {
        padding: 24px;
        background-color: $base-light-color;
        display: grid;
        gap: 24px;
    }

    @media screen and (max-width: 991.98px) {
        grid-template-columns: 1fr;
        gap: 24px;

        &-left {
            padding: 24px;
        }
    }
}

.address-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    font-weight: 400;

    & > li > a {
        display: grid;
        gap: 16px;
        grid-template-columns: 16px 1fr;
        align-items: center;
        color: $base-text-color;
    }
}
